{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}
<head>
  <title >Your Search Results</title>

</head>

  </style>
<body>
<h3 class="text-center" style="text-align: center;">Search With You Keywords</h3>
<div class="container">
<a href="/api/v1/auth/sync" class="btn btn-info .btn-lg" role="button">Go To Sync</a>

<form method="get" action="/api/v1/auth/search/{{docs.query}}" class="text-center" style="text-align: center;">
      <div class="form-group">
        <label>Enter The Keyword To search withing Mail</label>

        <input type="text" name="query" class="form-control" value="{{docs.query}}" required>
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>


</div>
</body>
</html>
{% endblock %}
